* {
    box-sizing: border-box;
}

.container1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    
    height: 1000px;
    width: 100%;
}

.container2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: rgb(32,41,56);
    width: 30%;

}

.container5 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.container6 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    background-color: rgb(200,208,229);
}
h1{
    padding-left: 100px;
}
.context {
    border: 2px dashed black;
    padding: 20px;
    height: 850px;
}

.container3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    background-color:  rgb(200,208,229);
}

.container4 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1px;
}

ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 5px 0 5px 0;
}

li {
    font-size: large;
    font-weight: bold;
    margin: 10px 0 10px 0;
    color: white;
}

input {
    width: 100%;
    height: 30px;
}

.container0 {
    width: 217px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    background-color: rgb(44,55,73);
}

@media (max-width:578px) {
    * {
        box-sizing: border-box;
    }

    .container1 {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        
        height: 100%;
        width: 100%;
    }
    .container5 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        height: 100%;
    }
    .context {
        border: 2px dashed black;
        padding: 20px;
        height: 300px;
    }
    .container2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: rgb(32,41,56);
        height: 30%;
        width: 100%;
        padding-left: 3px;

    }

    img {
        width: 20%;
    }

    .container3 {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;

    }
    input{
        border-radius: 15px;
    }
    .container0 {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        background-color: rgb(44,55,73);
    }
}